name: Run Preprocessing Automatically

on:
  push:
    paths:
      - "obesity_classification_raw.csv"
      - "preprocessing/automate_M.Sohibbal.py"

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pandas numpy scikit-learn matplotlib seaborn

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_M.Sohibbal.py

      - name: Upload processed dataset
        uses: actions/upload-artifact@v4
        with:
          name: obesity_classification_preprocessed
          path: preprocessing/obesity_classification_preprocessed.csv
